<app-article-nav-bar></app-article-nav-bar>
<h2>Liste des Articles</h2>
<table class="table" border="2">
  <thead>
    <tr>
      <th>Id</th>
      <th>ProviderId</th>
      <th>Label</th>
      <th>Price</th>
      <th>Picture</th>
      <th>Suppression</th>
      <th>Modification</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>{{ article.id }}</td>
      <td>{{ article.provider.id }}</td>
      <td>{{ article.label }}</td>
      <td>{{ article.price }}</td>
      <td>{{ article.picture }}</td>
      <td>
        <button type="button" (click)="deleteArticle(article.id)" class="btn btn-danger">
          Supprimer
        </button>
      </td>
      <td>
        <button type="button" (click)="updateArticle(article)" class="btn btn-warning">
          Modifier
        </button>
      </td>
    </tr>
  </tbody>
</table>
